<!-- footer Start -->
<footer>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
      <div>
       <ul>
        <li align="center">
             via Nino Bixio, 4 - 44122 Ferrara<br>
             Tel.: +39 0532 1915958 / 1716114 | Fax: +39 0532 287070<br>
             e-mail: info@redturtle.it | pec: redturtle@postecert.it
        </li>
        <hr class="hr"></hr>
            <li>CC.F. e P. IVA 01467600381 | Iscr. Reg. Imprese di FE 01467600381<br>
                Capitale sociale euro 90.000,00 i.v. | Registro Imprese di FE n. REA 169997
             <i>Privacy e normativa cookie</i></li><br>
        <hr class="hr1"></hr>
            <li class="footerinlinea"><a href="{{ site.baseurl }}/index"  class="footerhover">Home</a></li>
            <li class="footerinlinea" class="footerhover">Mappa del sito</li>
            <li class="footerinlinea"><a href="{{ site.baseurl }}/contatti" class="footerhover">Contatti</a></li>
            <li class="footerinlinea"><a href="https://penelope.redturtle.it/login_form?came_from=https%3A%2F%2Fpenelope.redturtle.it%2F" class="footerhover">Area Clienti</a></li>
            <li class="footerinlinea" class="footerhover">Lavora con noi</li>
          </ul>
        </div>

      <br>

      </div>
    </div>
  </div>
  <div>
    <ul>
      <li class="footerinlinea"><a href="https://www.facebook.com/redturtle?ref=ts" class="fa fa-facebook" title="Facebook"></a></li>
      <li class="footerinlinea"><a href="http://twitter.com/#!/redturtle" class="fa fa-twitter" title="Twitter"></a></li>
      <li class="footerinlinea"><a href="http://www.linkedin.com/company/254152" class="fa fa-linkedin" title="LinkedIn"></a></li>
      <li class="footerinlinea"><a href="https://www.redturtle.it/it/cosa-facciamo/presentazioni/" class="fa fa-slideshare" title="SlideShare"></a></li>
      <li class="footerinlinea"><a href="http://blog.redturtle.it/" class="fa fa-rss" title="Blog"></a></li>
      <li class="footerinlinea"><a href="https://github.com/RedTurtle" class="fa fa-github" title="GitHub"></a></li>
    </ul>
  </div>
</footer>
